{{#each clips as |clip|}}
  {{!-- {{log clip}} --}}
  <section data-id="{{clip.id}}">
    <h6>Institute:</h6>
    <h3>
      {{limit clip.title 15}}
    </h2>
    <h6>Description</h6>
    <p>
        {{clip.description}}
    </p>
    {{> delete clip = clip}}
  </section>

{{/each}}
