  <div class="modal fade" id="clipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Make a Clip</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- get modal to clear forms when closed -->
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="content" class="content">
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="resume-clips">

  </div>
  <button id="newClip" type="button" class="btn btn-primary on-auth new-clip-btn" data-toggle="modal" data-target="#clipModal">
    +
  </button>
