<div class="sign-in-form">
  <form id="sign-up" class="px-4 py-3">
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" name="credentials[email]" placeholder="Don't use a real email address">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="credentials[password_confirmation]" placeholder="Confirm password if creating a new account">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
