<button class="btn btn-danger delete-btn" data-id="{{clip.id}}" type="button" name="button">Delete clip</button>
<button type="submit" class="btn btn-primary save-btn" data-id="{{clip.id}}">Save</button>
